/vendor
/node_modules
/storage
/.idea
.ebextensions
.env
.DS_Store
_ide_helper.php
/public/vendor/
/npm-debug.log
/package-lock.json
/.vscode
public/.well-known
uper.sh
.pem
.p12
composer.lock
.vagrant
Vagrantfile
Homestead.yaml
after.sh
aliases
/bootstrap/cache/
.gitkeep
expert-app.js 
expert-app.js.map